<div class="content">
    <div class="my-3">
        <h3>Expereice</h3>
        <hr>
    </div>
    <div class="row">
        <div class="col-6 py-1">
            Reason of Certificate
        </div>
        <div class="col-6 py-1">
            <b>Lorem Ipsum</b>
        </div>
        <div class="col-6 py-1">
            Location
        </div>
        <div class="col-6 py-1">
            <b>Lorem Ipsum, Lorem ipsum</b>
        </div>
        <div class="col-6 py-1">
            Job title
        </div>
        <div class="col-6 py-1">
            <b>Lorem Ipsum, Lorem ipsum</b>
        </div>
        <div class="col-6 py-1">
            Job duration
        </div>
        <div class="col-6 py-1">
            Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print, graphic or web
            designs
        </div>
    </div>
</div>