<div class="content">
    <div class="my-5">
        <h3>Bank Infomation</h3>
        <hr>
    </div>
    <div class="row">
        <div class="col-6 py-1">
            Account Name
        </div>
        <div class="col-6 py-1">
            <b>Lorem ipsum</b>
        </div>
        <div class="col-6 py-1">
            Bank Name
        </div>
        <div class="col-6 py-1">
            <b>Lorem ipsum</b>
        </div>
        <div class="col-6 py-1">
            Account Number
        </div>
        <div class="col-6 py-1">
            <b>Lorem ipsum</b>
        </div>
        <div class="col-6 py-1">
            Country of Bank
        </div>
        <div class="col-6 py-1">
            <b>Lorem ipsum</b>
        </div>
        <div class="col-6 py-1">
            Bank Address
        </div>
        <div class="col-6 py-1">
            <b>Lorem ipsum, Lorem ipsum</b>
        </div>
    </div>
</div>