<div class="content">
    <div class="my-5">
        <h3>Education and Acknowledgements</h3>
        <hr>
    </div>

    <div>
        <h3>Degree</h3>
        <hr>
    </div>
    <div class="row">
        <div class="col-6 py-1">
            University/College
        </div>
        <div class="col-6 py-1">
            <b>Lorem Ipsum</b>
        </div>
        <div class="col-6 py-1">
            Location
        </div>
        <div class="col-6 py-1">
            <b>Lorem Ipsum</b>
        </div>
        <div class="col-6 py-1">
            Location
        </div>
        <div class="col-6 py-1">
            <b>Lorem Ipsum</b>
        </div>
        <div class="col-6 py-1">
            Degree & Field of Study
        </div>
        <div class="col-6 py-1">
            <b>Lorem ipsum, Lorem Ipsum</b>
        </div>
        <div class="col-6 py-1">
            Phone Number
        </div>
        <div class="col-6 py-1">
            <b>Lorem Ipsum</b>
        </div>
        <div class="col-6 py-1">
            Attachment
        </div>
        <div class="col-6 py-1 att">
            <div class="row">
                <div class="col-2">
                    <div class="col-empty"></div>
                </div>
                <div class="col-2">
                    <div class="col-empty"></div>
                </div>
                <div class="col-8">
                    <strong>Lorem Ipsum</strong><br>pdf
                </div>
            </div>
        </div>
    </div>
    <div class="my-5">
        <h3>Certificate</h3>
        <hr>
    </div>
    <div class="row">
        <div class="col-6 py-1">
            Presenter/Institution/
            <br> Organization
        </div>
        <div class="col-6 py-1">
            <b>Lorem Ipsum</b>
        </div>
        <div class="col-6 py-1">
            Location
        </div>
        <div class="col-6 py-1">
            <b>Lorem Ipsum</b>
        </div>
        <div class="col-6 py-1">
            Reason of Certificate
        </div>
        <div class="col-6 py-1">
            <b>Lorem Ipsum</b>
        </div>
        <div class="col-6 py-1">
            Attachment
        </div>
        <div class="col-6 py-1 att">
            <div class="row">
                <div class="col-2">
                    <div class="col-empty"></div>
                </div>
                <div class="col-2">
                    <div class="col-empty"></div>
                </div>
                <div class="col-8">
                    <strong>Lorem Ipsum</strong><br>pdf
                </div>
            </div>
        </div>
    </div>
</div>