<div class="content">
    <div class="my-3">
        <h3>Details as client</h3>
        <hr>
    </div>
    <div class="row">
        <div class="col-6 py-1">
            bio
        </div>
        <div class="col-6 py-1">
            Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print, graphic or web
            designs
        </div>
        <div class="col-6 py-1">
            Language
        </div>
        <div class="col-6 py-1">
            Lorem ipsum, Lorem Ipsum, Lorem ipsum, Lorem ipsum
        </div>
        <div class="col-6 py-1">
            Profession
        </div>
        <div class="col-6 py-1">
            Lorem ipsum,Lorem ipsum
        </div>
        <div class="col-6 py-1">
            Tools
        </div>
        <div class="col-6 py-1">
            Lorem ipsum, Lorem ipsum, Lorem ipsum , Lorem ipsum
        </div>

        <div class="col-6 py-1">
            Attachment
        </div>
        <div class="col-6 py-1 att">
            <div class="row">
                <div class="col-2">
                    <div class="col-empty"></div>
                </div>
                <div class="col-2">
                    <div class="col-empty"></div>
                </div>
                <div class="col-8">
                    <strong>Lorem Ipsum</strong><br>pdf
                </div>
            </div>
        </div>

        <div class="col-6 py-1">
            Links
        </div>
        <div class="col-6 py-1">
            <a href="">Lorem-ipsum.link</a>,
            <a href="">Lorem-ipsum.link</a>
        </div>
        <div class="col-6 py-1">
            Linkedin
        </div>
        <div class="col-6 py-1">
            <a href="">Lorem ipsum-linkedin.com</a>
        </div>
    </div>
</div>