<div class="talents">
    <mat-grid-list cols="3" rowHeight="40px">
        <mat-grid-tile>
            Talents 001
            <input class="ml-3" type="radio"> Talent Name
        </mat-grid-tile>
        <mat-grid-tile>
            <span class="px-1">Fav by 8</span>
            <span class="px-1">Hired 2 1 Active</span>
            <span class="px-1">Date added: 12-02-2020</span>
        </mat-grid-tile>
        <mat-grid-tile>
            <span class="btn-spacer"></span>
            <button mat-raised-button class="right-btn">Invite</button>
            <button mat-raised-button class="right-btn">Message</button>
            <button mat-raised-button class="right-btn">Send Invoice</button>
            <button mat-raised-button class="right-btn">Diactivate</button>
        </mat-grid-tile>

    </mat-grid-list>

    <mat-tab-group mat-align-tabs="start">
        <mat-tab label="Personal Info and Contact address"></mat-tab>
        <mat-tab label="Education and Acknowledgements"></mat-tab>
        <mat-tab label="Experience"></mat-tab>
        <mat-tab label="Details as a Talent"></mat-tab>
        <mat-tab label="Bank Detail"></mat-tab>
        <mat-tab label="Project 12"></mat-tab>
    </mat-tab-group>
    <section class="my-5">
        <app-personal-info></app-personal-info>
    </section>
    <section class="my-y">
        <app-education-info></app-education-info>
    </section>
    <section class="my-5">
        <app-experience></app-experience>
    </section>
    <section class="my-5">
        <app-visible-info></app-visible-info>
    </section>
    <section class="my-5">
        <app-bank-info></app-bank-info>
    </section>

    <div class="content">
        <mat-grid-list cols="2" rowHeight="40px">
            <mat-grid-tile>
                <h3 class="text-left">Projejct 12</h3>
            </mat-grid-tile>
            <mat-grid-tile>
                <span class="btn-spacer"></span>
                <button mat-raised-button>Invite</button>
            </mat-grid-tile>
        </mat-grid-list>
        <hr>
        <mat-tab-group mat-align-tabs="start">
            <mat-tab label="All Projects 12"></mat-tab>
            <mat-tab label="Active 1"></mat-tab>
            <mat-tab label="Shortlisted 1"></mat-tab>
            <mat-tab label="Completed 2"></mat-tab>
            <mat-tab label="Canceled"></mat-tab>
            <mat-tab label="Paused 1"></mat-tab>
        </mat-tab-group>
    </div>
    <div class="pr-desc">

        <div class="grid-content">
            <div class="row">
                <div class="col-3 px-1">
                    <div class="header">
                        <div class="my-5 text-right  h1">.</div>
                        <div class="bg-white card-body px-2">
                            <button type="button" class="mx-1 my-2 btn-secondary">Project Title</button>
                            <button type="button" class="mx-1 my-2 btn-secondary">Active</button>
                            <button type="button" class="mx-1 my-2 btn-secondary">Category</button>
                            <button type="button" class="mx-1 my-2 btn-secondary">Role</button>
                        </div>
                    </div>
                </div>
                <div class="col-3 px-1">
                    <div class="header">
                        <div class="my-5 text-right  h1">.</div>
                        <div class="bg-white card-body px-2">
                            <button type="button" class="mx-1 my-2 btn-secondary">Project Title</button>
                            <button type="button" class="mx-1 my-2 btn-secondary">Active</button>
                            <button type="button" class="mx-1 my-2 btn-secondary">Category</button>
                            <button type="button" class="mx-1 my-2 btn-secondary">Role</button>
                        </div>
                    </div>
                </div>
                <div class="col-3 px-1">
                    <div class="header">
                        <div class="my-5 text-right  h1">.</div>
                        <div class="bg-white card-body px-2">
                            <button type="button" class="mx-1 my-2 btn-secondary">Project Title</button>
                            <button type="button" class="mx-1 my-2 btn-secondary">Active</button>
                            <button type="button" class="mx-1 my-2 btn-secondary">Category</button>
                            <button type="button" class="mx-1 my-2 btn-secondary">Role</button>
                        </div>
                    </div>
                </div>
                <div class="col-3 px-1">
                    <div class="header">
                        <div class="my-5 text-right  h1">.</div>
                        <div class="bg-white card-body px-2">
                            <button type="button" class="mx-1 my-2 btn-secondary">Project Title</button>
                            <button type="button" class="mx-1 my-2 btn-secondary">Active</button>
                            <button type="button" class="mx-1 my-2 btn-secondary">Category</button>
                            <button type="button" class="mx-1 my-2 btn-secondary">Role</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>