<div class="talents">
    <mat-grid-list cols="2" rowHeight="30px">
        <mat-grid-tile>
            Active Projects / 001 Lorem Ipsum
        </mat-grid-tile>
        <mat-grid-tile><span class="btn-spacer"></span>
            <button mat-raised-button class="right-btn">Pause</button>
            <button mat-raised-button class="right-btn">Cancel</button>
            <button mat-raised-button class="right-btn">Completed</button>
            <button mat-raised-button class="right-btn">Diactivate</button>
        </mat-grid-tile>
    </mat-grid-list>

    <mat-tab-group mat-align-tabs="start">
        <mat-tab label="Project Detail"></mat-tab>
        <mat-tab label="Message 2"></mat-tab>
        <mat-tab label="Documents 2"></mat-tab>
        <mat-tab label="Contracts and Invoices"></mat-tab>
    </mat-tab-group>

    <mat-grid-list cols="2" rowHeight="170px">
        <mat-grid-tile>
            <div class="empty-container">
                <mat-grid-list cols="2" rowHeight="170px">
                    <mat-grid-tile>
                        <div class="empty-container-grey"></div>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <div class="empty-container-white">
                            <div>
                                <h3><strong>Project Owner</strong></h3>
                                <p>Mesfin Tsegaye</p>
                                <p>Addis Ababa, Ethiopia</p>
                            </div>
                        </div>
                    </mat-grid-tile>
                </mat-grid-list>
            </div>
        </mat-grid-tile>
        <mat-grid-tile>
            <div class="empty-container">
                <mat-grid-list cols="2" rowHeight="170px">
                    <mat-grid-tile>
                        <div class="empty-container-grey"></div>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <div class="empty-container-white">
                            <div>
                                <h3><strong>Project Handler</strong></h3>
                                <p>Sandeep Prasad</p>
                            </div>
                        </div>
                    </mat-grid-tile>
                </mat-grid-list>
            </div>
        </mat-grid-tile>
    </mat-grid-list>

    <!-- project description  -->
    <div class="pr-desc">
        <mat-grid-list cols="2" rowHeight="40px">
            <mat-grid-tile>
                <h3>Project Description</h3>
            </mat-grid-tile>
            <mat-grid-tile>
                <span class="btn-spacer"></span>
                <button mat-raised-button>Edit</button>
            </mat-grid-tile>
        </mat-grid-list>
        <hr>
        <div class="content">
            <table>
                <tr>
                    <td>Project Title</td>
                    <td>Lorem Ipsum</td>
                </tr>
                <tr>
                    <td>Project Description</td>
                    <td>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
                        invidunt
                        ut labore et dolore
                        magna aliquyam erat, sed diam voluptua.</td>
                </tr>
                <tr>
                    <td>Project Category</td>
                    <td>Lorem Ipsum</td>
                </tr>
                <tr>
                    <td>Project Subcategory</td>
                    <td>Lorem Ipsum</td>
                </tr>
                <tr>
                    <td>Date Added</td>
                    <td>2020-03-07</td>
                </tr>
                <tr>
                    <td>Estimated Time of Completion</td>
                    <td>3 weeks</td>
                </tr>
                <tr>
                    <td>Attacments</td>
                    <td class="att">

                        <div class="row">
                            <div class="col-2">
                                <div class="col-empty"></div>
                            </div>
                            <div class="col-3">
                                <div class="col-empty"></div>
                            </div>
                            <div class="col-7">
                                <strong>Lorem Ipsum</strong><br>pdf
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-2">
                                <div class="col-empty"></div>
                            </div>
                            <div class="col-3">
                                <div class="col-empty"></div>
                            </div>
                            <div class="col-7">
                                <div class="my-1"><strong>Lorem Ipsum</strong><br>pdf</div>
                            </div>

                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="pr-desc">
        <mat-grid-list cols="2" rowHeight="40px">
            <mat-grid-tile>
                <h3>Talents Hired</h3>
            </mat-grid-tile>
            <mat-grid-tile>
                <span class="btn-spacer"></span>
                <button mat-raised-button>Show all</button>
            </mat-grid-tile>
        </mat-grid-list>
        <hr>
        <div class="grid-content">
            <div class="row">
                <div class="col-3 px-1">
                    <div class="header">
                        <div class="my-5 text-right h1">.</div>
                        <div class="bg-white card-body px-2">
                            <h3>Name of talent
                                <br>
                                Role/profession
                            </h3>
                            <button type="button" class="btn mx-1 btn-outline-secondary">Remove</button>
                            <button type="button" class="btn mx-1 btn-secondary">Msg</button>
                        </div>
                    </div>
                </div>
                <div class="col-3 px-1">
                    <div class="header">
                        <div class="my-5 text-right h1">.</div>
                        <div class="bg-white card-body px-2">
                            <h3>Name of talent
                                <br>
                                Role/profession
                            </h3>
                            <button type="button" class="btn mx-1 btn-outline-secondary">Remove</button>
                            <button type="button" class="btn mx-1 btn-secondary">Msg</button>
                        </div>
                    </div>
                </div>
                <div class="col-3 px-1">
                    <div class="header">
                        <div class="my-5 text-right h1">.</div>
                        <div class="bg-white card-body px-2">
                            <h3>Name of talent
                                <br>
                                Role/profession
                            </h3>
                            <button type="button" class="btn mx-1 btn-outline-secondary">Remove</button>
                            <button type="button" class="btn mx-1 btn-secondary">Msg</button>
                        </div>
                    </div>
                </div>
                <div class="col-3 px-1">
                    <div class="header">
                        <div class="my-5 text-right h1">.</div>
                        <div class="bg-white card-body px-2">
                            <h3>Name of talent
                                <br>
                                Role/profession
                            </h3>
                            <button type="button" class="btn mx-1 btn-outline-secondary">Remove</button>
                            <button type="button" class="btn mx-1 btn-secondary">Msg</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="pr-desc milestone">
        <mat-grid-list cols="2" rowHeight="40px">
            <mat-grid-tile>
                <h3>Payment setup 1 Milestone</h3>
            </mat-grid-tile>
            <mat-grid-tile>
                <span class="btn-spacer"></span>
                <button mat-raised-button>Edit</button>
            </mat-grid-tile>
        </mat-grid-list>
        <hr>
        <div class="row">
            <div class="col-2">Jan 12, 2020</div>
            <div class="col-2">Jan 12, 2020</div>
            <div class="col-2">Jan 12, 2020</div>
            <div class="col-2">Jan 12, 2020</div>
            <div class="col-2">Jan 12, 2020</div>
            <div class="col-2">Jan 12, 2020</div>
            <div class="col-12">
                <div class="divider bg-dark mt-3 card">

                </div>
            </div>
            <div class="col-2 step">
                <span class="dot mx-3"></span>
            </div>
            <div class="col-2 step">
                <span class="dot mx-3"></span>
            </div>
            <div class="col-2 step">
                <span class="dot mx-3"></span>
            </div>
            <div class="col-2 step">
                <span class="dot mx-3"></span>
            </div>
            <div class="col-2 step">
                <span class="dot mx-3"></span>
            </div>
            <div class="col-2 step">
                <span class="dot mx-3"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-2 py-3">
                <strong>Budget</strong>
            </div>
            <div class="col-2 py-3">
                <strong>34567$</strong>
            </div>
            <div class="col-12">
                <p class="py-3">Coming up 1 Phase 1-12$</p>
            </div>
            <div class="col-2">
                Phase 1 <br>
                Individual at Labour <br>
                <button type="button" class="my-1  bg-white btn-outline-secondary">Task</button> <br>
                15$
                <div class="my-2">
                    <select name="" id="">
                        <option value="">Completed</option>
                    </select>
                    <p class="my-2">Paid</p>
                </div>
            </div>

            <div class="col-2">
                Phase 1 <br>
                Individual at Labour <br>
                <button type="button" class="my-1  bg-white btn-outline-secondary">Task</button> <br>
                15$
                <div class="my-2">
                    <select name="" id="">
                        <option value="">On Progress</option>
                    </select>
                </div>
            </div>
            <div class="col-2">
                Phase 1 <br>
                Individual at Labour <br>
                <button type="button" class="my-1  bg-white btn-outline-secondary">Task</button> <br>
                15$
                <div class="my-2">
                    -
                </div>
            </div>
            <div class="col-2">
                Phase 1 <br>
                Individual at Labour <br>
                <button type="button" class="my-1  bg-white btn-outline-secondary">Task</button> <br>
                15$
                <div class="my-2">
                    -
                </div>
            </div>
            <div class="col-2">
                Phase 1 <br>
                Individual at Labour <br>
                <button type="button" class="my-1  bg-white btn-outline-secondary">Task</button> <br>
                15$
                <div class="my-2">
                    -
                </div>
            </div>
            <div class="col-2">
                Phase 1 <br>
                Individual at Labour <br>
                <button type="button" class="my-1  bg-white btn-outline-secondary">Task</button> <br>
                15$
                <div class="my-2">
                    -
                </div>
            </div>
        </div>
    </div>
</div>