<div class="personal-info content">
    <h3>Personal Info and Contact Address | Individual</h3>
    <hr>
    <div class="row">
        <div class="col-6 my-2"></div>
        <div class="col-6 my-2">
            <div class="avatar"></div>
            <p class="my-3">Talent's Main Info</p>
        </div>
        <div class="col-6 py-1">
            Name
        </div>
        <div class="col-6 py-1">
            <b>Lorem Ipsum</b>
        </div>
        <div class="col-6 py-1">
            Last Name
        </div>
        <div class="col-6 py-1">
            <b>Lorem Ipsum</b>
        </div>
        <div class="col-6 py-1">
            Country
        </div>
        <div class="col-6 py-1">
            <b>Lorem Ipsum</b>
        </div>
        <div class="col-6 py-1">
            City
        </div>
        <div class="col-6 py-1">
            <b>Lorem Ipsum</b>
        </div>
        <div class="col-6 py-1">
            Phone Number
        </div>
        <div class="col-6 py-1">
            <b>Lorem Ipsum</b>
        </div>
        <div class="col-6 py-1">
            Country
        </div>
        <div class="col-6 py-1">
            <b>Lorem Ipsum</b>
        </div>
    </div>
</div>